* {
  margin: 0;
  padding: 0;
}

.hero {
  background-color: rgb(175, 164, 147);
}

.slick-list {
  margin-left: 20px !important;
}

.nextArrow {
  position: absolute;
  font-weight: medium;
  font-size: 50px;
  right: -5vw;
  top: 20vw;
  color: rgb(160, 139, 105);
  cursor: pointer;
}

.prevArrow {
  position: absolute;
  font-weight: medium;
  font-size: 50px;
  left: -5vw;
  top: 20vw;
  color: rgb(160, 139, 105);
  cursor: pointer;
}

@media (max-width:767px){
  .nextArrow {
    right: -7vw;
    top: 40vw;
  }
  .prevArrow {
    left: -7vw;
    top: 40vw;
  }
  .slick-list {
    margin-left: 20px !important;
  }
}

@media (max-width:480px){
  .nextArrow {
    right: -7vw;
    top: 40vw;
  }
  .prevArrow {
    left: -7vw;
    top: 40vw;
  }
  .slick-list {
    margin-left: 25px !important;
  }
}

.phone {
  transform: rotateY(180deg);
}

.sidebar__link--active {
  border-bottom: 3px solid rgb(165, 36, 36);
  /* color:rgb(165, 36, 36); */
}